body{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    background-color: #062743;
    padding: 5px 50px;
    color: white;
    border-radius: 10px;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90%;
}

.search-container{
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
    
}

.search-con{
    display: flex;
    width: 100%;
    height: 90%;
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 5px 20px;
    border-radius: 20px;
}

.search-con input{
    height: 100%;
    width: 100%;
    border: 0;
}

.search-con label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-con input:focus{
    border: none;
    outline: none;
}

.header-icon-con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-icon-item{
    width: 40px;
    height: 40px;
    font-size: 50px;
}

.header-con-item h3{
    display: none;
}

.hum-menu-con{
    display: none;
    transition: color 0.3s ease;
  }

  .hum-menu-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.search-hum{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-hum input {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.search-hum input:focus {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    width: 50px;
}
.header-top{
    width: 100%;
    height: 80px;
}





















.main{
    height: 75vh;
}

.baris{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.form-pembelian{
    width: 100%;
}

.form-data-user{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.form-data-user h3{
    font-size: 30px;
    font-weight: 600;
}

.form-data-user input,
.form-data-user select{
    height: 45px;
    padding-left: 20px;
    border-radius: 5px;
}

.form-data-user select{
    border: 2px solid black;
}

.form-data-user textarea{
    border: 2px solid black;
}
.form-data-user textarea{
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2   px solid black;
}

.form-data-produk{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 1000px;
    background-color: #D9D9D9;
    padding: 20px;
    margin: 0 auto;
}

.tabel-data-produk{
    width: 100%;
    min-width: 900px;
    display: flex;
    flex-direction: column; 
    background-color: white;
    border: 3px solid #062743;
}

.tabel-produk-header{
    display: grid;
    grid-template-columns: 50px 45% 15% 15% auto;
    width: 100%;
    min-width: 900px;
    text-align: center;
    border-bottom: 3px solid #062743;

}



.tabel-produk-body{
    display: grid;
    grid-template-columns: 50px 45% 15% 15% auto;
    width: 100%;
    min-width: 900px;
    text-align: center;

}

.nama-produk-body{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.produk-pic{
    width: 150px;
    height: 100px;
    padding: 15px  0;
    overflow: hidden;
}

.produk-pic img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.produk-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.produk-detail h3{
    font-size: 15px;
    font-weight: 400;
}

.nomor-body,
.harga-produk-body ,
.jumlah-produk-body, 
.subtotal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomor-body h3,
.harga-produk-body  h3,
.jumlah-produk-body h3, 
.subtotal-body h3{
    font-size: 15px;
    font-weight: 400;
}

.pengiriman-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.pengiriman-item{
    width: 100%;
    min-width: 900px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    align-items: center;
    justify-content: center;
    background-color: #9e9c9c;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

.pilih{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pilih-con{
    width: 60%;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: 0 10px  black;
    border-radius: 5px;
}

.pilih-con:active{
    box-shadow: 0 5px black;
    transform: translateY(5px);
}

.last{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 50px 0 0;
}

.last-btn{
    display: flex;
    flex-direction: row;
}

.kembali{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c281d;
    color: white;
    padding: 10px 30px;
    box-shadow: 0 10px  #430d06;
    border-radius: 10px;
    cursor: pointer;
}

.kembali:active{
    box-shadow: 0 5px #430d06;
    transform: translateY(5px);
}

.bayar-sekarang{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3e5c;
    color: white;
    padding: 10px 30px;
    margin-right: 20px;
    box-shadow: 0 10px  #062743;
    border-radius: 10px;
    cursor: pointer;
}

.bayar-sekarang:active{
    box-shadow: 0 5px #041729;
    transform: translateY(5px);
}






.footer{
    padding: 50px ;
    width: 100%;
    background-color: #062743;
}

.footer-con{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px;
    width: 80%;
    margin: 0 auto;

}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 200;

}

.footer-left-judul{
    width: 100%;
    font-size:25px;
    color:aquamarine;
}

.footer-left-detail{
    width: 100%;
    font-size: 15px;
    color: white;
    
}

.footer-left-judul h3, 
.footer-right-top-judul h3,
.footer-right-bottom-judul h3{
    font-weight: 600;
}

.footer-left-detail h4,
.footer-right-top-detail h4{
    font-weight: 300;

}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 200;


}

.footer-right-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-right-top-judul{
    width: 100%;
    font-size:25px;
    color:aquamarine;
}

.footer-right-top-detail{
    width: 100%;
    font-size: 15px;
    color: white;
}

.footer-right-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.footer-right-bottom-judul{
    width: 100%;
    font-size:25px;
    color: aquamarine;
}

.footer-right-bottom-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-right-bottom-detail-item{
    width: 25px;
    height: 25px;
}

.footer-right-bottom-detail-item svg{
    fill: white;
}

@media (max-width: 1050px) {
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      border-radius: 0;
    }
  
    .hum-menu-con {
      display: inline-block;
      
    }
    .header-con-item h3{
        display: inline-block;
        font-size: 15px;
    }
  
    .header-right {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: rgba(6, 39, 67, 0.95);
      width: 250px;
      height: 100vh;
      top: 80px;
      right: -250px; /* Awal di luar layar */
      transform: translateX(0);
      transition: all 0.3s ease-in-out;
      padding: 20px;
      gap: 30px;
      z-index: 988;
    }

    .search-container{
        width: 200px;
    }
    
    .header-icon-con{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
    }
    
    .header-con-item{
        display: flex;
        gap: 20px;
        align-items: center;
        height: 40px;
    }

    .header-con-item svg{
        width: 30px;
        height: 30px;
    }

    .header-right.active {
      transform: translateX(-250px); /* Masuk ke dalam layar */
    }
  }